.scroll-to-top {
  position: fixed;
  width: 45px;
  height: 45px;
  background-color: #1e1e22;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid #fc653c;
  cursor: pointer;
  transition: all 0.4s ease;
  opacity: 1;
  z-index: 1000;
}

.scroll-to-top::before {
  content: '';
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/icons/scroll-to-top.png');
}

.scroll-to-top:hover.scroll-to-top::before {
  background-image: url('../../assets/images/icons/scroll-to-top_orange.png');
}

.scroll__hidden {
  opacity: 0;
}



@media screen and (min-width: 320px) and (max-width: 767px) {
  .scroll-to-top {
    opacity: 0;
    display: none;
  }
}
