.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.menu__item {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}

.menu__item a {
  color: #fff;
  text-decoration: none;
}

.menu__logo {
  padding: 0;
  width: 100%;
}

.menu__item_logo {
  padding: 0;
}