.ourServices {
  padding: 120px 0;
  background-color: #0d0e0d;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.ourServices__container {
  max-width: 730px;
  -webkit-animation: myFadeInUp;
  -webkit-animation-duration: 0.75s;
  animation: myFadeInUp;
  animation-duration: 0.75s;
}

.ourServices__collapse {
  max-width: 550px;
  -webkit-animation: myFadeInUp;
  -webkit-animation-duration: 1s;
  animation: myFadeInUp;
  animation-duration: 1s;
}

.collapse__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.collapse__li {
  margin: 24px 0;
}

.collapse__li div {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.collapce__header {
  color: #ccc3c3;
}

.collapse__li span {
  font-size: 26px;
  font-weight: 800;
  color: #ccc3c3;
  width: 20px;
}
.collapse__text {
  color: white;
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.collapse__text_visible {
  transform: scaleY(1);
  height: 160px;
}

.collapse__text p {
  font-size: 18px;
  line-height: 24px;
  color: #ccc3c3;
}


.section__title {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  align-self: start;
  color: #F5325C;
}

.section__subtitle {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #fff;
}

.section__paragraph {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 26px;
  line-height: 40px;
  color: #e4e4e4;
  margin-top: 30px;
}
@keyframes myFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}