.ourServices {
  padding: 120px 0;
  background-color: #0d0e0d;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.ourServices__container {
  max-width: 730px;
  -webkit-animation: myFadeInUp;
  -webkit-animation-duration: 0.75s;
  animation: myFadeInUp;
  animation-duration: 0.75s;
}

.ourServices__collapse {
  max-width: 550px;
  -webkit-animation: myFadeInUp;
  -webkit-animation-duration: 1s;
  animation: myFadeInUp;
  animation-duration: 1s;
}