.aboutUs {
  color: #adadb8;
  background: #17171a;
  padding: 120px 0;
}

.aboutUs__container {
  display: flex;
  max-width: 1280px;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  gap: 100px;
  align-items: center;
}

.aboutUs__content {
  width: 555px;
}

.aboutUs__image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px rgb(245 50 92 / 20%);
  position: relative;
  z-index: 1;
}

.aboutUs__image-area {
  position: relative;
}

.aboutUs__image-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fc653c;
  border-radius: 20px;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  -webkit-animation: semi_rotated_two 20s infinite;
  animation: semi_rotated_two 20s infinite;
  border-radius: 20px;
}

.aboutUs__shape {
  position: absolute;
  right: 100%;
  top: 5%;
  width: 35%;
  -webkit-animation: down-up-down 10s infinite;
  animation: down-up-down 10s infinite;
}

.aboutUs__box-icon {
  position: relative;
  z-index: 0;
}

.aboutUs__box-icon::before {
  position: absolute;
  top: 5px;
  left: -15px;
  width: 80px;
  height: 80px;
  background-color: #1e1e22;
  content: '';
  border-radius: 100px;
  z-index: -1;
}

.aboutUs__box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  transition: scale 0.75s ease;
}

.aboutUs__box:hover {
  scale: 1.1;
  cursor: pointer;
}

.aboutUs__box-title {
  color: #faebd7;
}

.aboutUs__box-description {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .aboutUs {
    padding: 60px 0;
  }
  .aboutUs__container {
    gap: 50px;
  }
  
  .aboutUs__content {
    width: 400px;
  }

  .aboutUs__image-area {
    max-width: 300px;
  }

  .aboutUs__shape {
    top: 10%;
    width: 30%;
  }

  .aboutUs__box-title {
    font-size: 16px;
    line-height: 18px;
  }

  .aboutUs__box-description {
    font-size: 12px;
    line-height: 16px;
  }

  .aboutUs__box-icon::before {
    width: 50px;
    height: 50px;
    top: 10px;
    left: -10px;
  }
  .aboutUs__box-image {
    width: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .aboutUs {
    padding: 60px 0;
  }
  .aboutUs__container {
    flex-direction: column;
    align-items: center;
  }
  .aboutUs__image-area {
    width: 350px;
  }

  .aboutUs__shape {
    width: 30%;
  }

  .aboutUs__content {
    width: 450px;
  }

  .aboutUs__box-title {
    font-size: 16px;
    line-height: 18px;
  }

  .aboutUs__box-description {
    font-size: 12px;
    line-height: 16px;
  }

  .aboutUs__box-icon::before {
    width: 50px;
    height: 50px;
    top: 10px;
    left: -10px;
  }
  .aboutUs__box-image {
    width: 50px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutUs {
    padding: 50px 0;
  }
  
  .aboutUs__container {
    flex-direction: column;
    gap: 60px;
  }

  .aboutUs__image-area {
    width: 280px;
  }

  .aboutUs__shape {
    right: -10%;
    top: -10%;
    width: 10%;
  }

  .aboutUs__content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutUs__box {
    flex-direction: column;
    width: 270px;
  }

  .aboutUs__box-title {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .aboutUs__box-description {
    font-size: 12px;
    line-height: 16px;
  }

  .aboutUs__box-icon::before {
    width: 50px;
    height: 50px;
    top: 10px;
    left: -10px;
  }
  .aboutUs__box-image {
    width: 50px;
  }

}