.design-area {
  position: relative;
  overflow: hidden;
  background-color: #1e1e22;
  z-index: 0;
  padding-bottom: 120px;
  padding-top: 120px;
}

.design-area::before {
  position: absolute;
  width: 450px;
  height: 450px;
  content: '';
  border-radius: 50%;
  background: #fc653c;
  -webkit-animation: zoomInOut 5s infinite;
  animation: zoomInOut 5s infinite;
  left: -10%;
  top: 20%;
  -webkit-filter: blur(350px);
  filter: blur(350px);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  z-index: -1;
}

.design-area::after {
  position: absolute;
  width: 450px;
  height: 450px;
  content: '';
  border-radius: 50%;
  background: #fc653c;
  -webkit-animation: zoomInOut 5s infinite;
  animation: zoomInOut 5s infinite;
  right: -8%;
  top: -15%;
  -webkit-filter: blur(110px);
  filter: blur(110px);
  z-index: -1;
}

.design-area__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.design-area__shapes {

}

.design-area__header {
  margin: 0 auto;
  text-align: center;
}

.design-area__dots {
  position: absolute;
  -webkit-animation: circle_rotate 27s infinite;
  animation: circle_rotate 27s infinite;
  right: 5%;
  top: 15%;
}

.design-area__wave-line {
  max-width: 35%;
  -webkit-animation: down-up-one 10s infinite;
  animation: down-up-one 10s infinite;
  left: 0;
  bottom: 0;
  position: absolute;
}

.design-area__row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: -30px;
  justify-content: center;
}

.design-area__middle {
  position: absolute;
  bottom: 200px;
  z-index: 0;
}

.design-area__details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 200px;
}

.design-area__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.design-area__column-item {
  background-color: #16161c;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 40px 30px;
  box-sizing: border-box;
  height: 309px;
  z-index: 1;
}

.design-area__column-item:hover {
  box-shadow: 10px 0 60px rgb(178 178 178 / 30%);
  background: #0d0d0e;
}

.design-area__column-image {
  width: 74px;
}

.design-area__column-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 26px;
  font-size: 22px;
  font-weight: 800;
  color: #faebd7;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
}

.design-area__arrow {
  width: 34px;
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .design-area::after {
    opacity: 0.5;
  }

  .design-area__dots {
    opacity: 0.5;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .design-area {
    padding: 60px 0 120px;
  }

  .design-area__details {
    margin-top: 180px;
  }

  .design-area__middle {
    bottom: 100px;
  }

  .design-area__middle-image {
    width: 300px;
  }

  .design-area__column-item {
    width: 200px;
    height: 200px;
  }

  .design-area__column-link {
    line-height: 18px;
    font-size: 16px;
    margin-top: 15px;
  }

  .design-area__column-image {
    width: 44px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .design-area {
    padding: 60px 0 120px;
  }

  .design-area::after {
    right: -18%;
    top: -25%;
  }

  .design-area__dots {
    right: -10%;
  }

  .design-area__middle {
    bottom: 80px;
  }

  .design-area__middle-image {
    width: 300px;
  }

  .design-area__column-item {
    width: 170px;
    height: 170px;
    padding: 15px;
  }

  .design-area__column-link {
    line-height: 16px;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .design-area__column-image {
    width: 44px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .design-area {
    padding: 60px 0;
  }

  .design-area::after {
    right: -5%;
    top: -35%;  
  }

  .design-area__dots {
    right: -25%;
    top: 15%;
    z-index: -1;
  }

  .design-area__details {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    gap: 15px;
  }

  .design-area__row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    gap: 15px;
  }

  .design-area__middle {
    position: relative;
    bottom: 0;
  }

  .design-area__middle-image {
    width: 270px;
  }

  .design-area__column {
    gap: 15px;
  }

  .design-area__column-item {
    width: 300px;
    height: auto;
    padding: 15px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }

  .design-area__column-link {
    line-height: 16px;
    font-size: 14px;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    text-align: start;
  }
  
  .design-area__column-image {
    width: 44px;
  }

  .design-area__arrow {
    margin-top: 0;
  }
}


