.portfolio {

}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.portfolio__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.portfolio__header-title {
 
}

.portfolio__grid {
  width: 1260px;
}

.portfolio__filter {
  align-self: end;
}

.portfolio__filter-list {
  list-style: none;
  display: flex;
  gap: 5px;
}

.portfolio__list {
  overflow: hidden;
  width: 100%;
}

.portfolio__filter-item {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 26px;
  font-size: 18px;
  font-weight: 800;
  color: #faebd7;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 10px;
}

.portfolio__filter-item_active {
  background: #fc653c;
}

.portfolio__item {
  width: 400px;
  margin-bottom: 30px;
  overflow: hidden;
}


.portfolio__image {
  width: 100%;
  height: 268px;
  cursor: pointer;
}

.portfolio__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #fc653c45;
  border-top: none;
}

.portfolio__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 26px;
  font-size: 24px;
  font-weight: 800;
  color: #faebd7;
  text-decoration: none;
  text-align: center;
}

.portfolio__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fc653c;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.portfolio__subtitle::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #fc653c;
  display: inline-block;
  margin-right: 10px;
}

.portfolio__subtitle::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #fc653c;
  display: inline-block;
  margin-left: 10px;
}

.portfolio__hover-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -269px;
  width: 400px;
  height: 269px;
  background: #00000096;
  transition: 0.75s;
  opacity: 0;
}

.portfolio__item:hover .portfolio__hover-container{
  opacity: 1;
  top: 0;
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}