.cooperation {
 background-color: #0d0e0d;
 padding-top: 120px;
 padding-bottom: 120px;
}

.cooperation__container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cooperation__header {
  width: 550px;
}

.cooperation__button {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: flex;
  color: #ffffff;
  padding: 12px 22px;
  border-radius: 25px;
  background-color: #0d0e0d;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px #fc653c solid;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  overflow: hidden;
  z-index: 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: uppercase;
}

.cooperation__button a {
  text-decoration: none;
}

.cooperation__button::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fc653c;
  transition: 0.75s;
  transform: scaleX(0);
  transform-origin: 0 50%;
  z-index: -1;
}

.cooperation__button:hover.cooperation__button::after {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.cooperation__button:hover {
  cursor: pointer;
}

.cooperation__button_transparent {
  background-color: transparent;
}

.cooperation__button img {
  width: 20px;
  height: 18px;
  transform: translateX(0px);
  transition: 0.75s;
}

.cooperation__button:hover img {
  transform: translateX(10px);
}

.cooperation__header h3 {
  font-size: 30px;
}

.cooperation__header h2 {
  font-size: 45px;
  margin-top: 15px;
}

.cooperation__header p {
  font-size: 20px;
  line-height: 26px;
}

.cooperation__image {
  max-width: 730px;
  width: 650px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .cooperation {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .cooperation__container {
    width: 1000px;
  }

  .cooperation__header {
    width: 450px;
  }

  .cooperation__image {
    width: 450px;
  }

  .cooperation__header h3 {
    font-size: 24px;
  }
  
  .cooperation__header h2 {
    font-size: 35px;
  }
  
  .cooperation__header p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .cooperation {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cooperation__container {
    width: 700px;
  }

  .cooperation__header {
    width: 350px;
  }

  .cooperation__image {
    width: 350px;
  }

  .cooperation__header h3 {
    font-size: 14px;
  }
  
  .cooperation__header h2 {
    font-size: 25px;
    margin-top: 5px;
  }
  
  .cooperation__header p {
    font-size: 12px;
    line-height: 14px;
  }

}
@media screen and (min-width: 320px) and (max-width: 767px) {

  .cooperation {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .cooperation__container {
    width: 300px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .cooperation__header {
    width: 100%;
  }

  .cooperation__header .cooperation__button {
    margin: 20px auto 0;
  }

  .cooperation__image {
    width: 100%;
  }

  .cooperation__header h3 {
    font-size: 14px;
  }
  
  .cooperation__header h2 {
    font-size: 25px;
    margin-top: 5px;
  }
  
  .cooperation__header p {
    font-size: 12px;
    line-height: 14px;
  }
}
