.collapse__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.collapse__li {
  margin: 24px 0;
}

.collapse__li div {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.collapse__header {
  cursor: pointer;
  color: #ccc3c3;
}

.collapse__li span {
  font-size: 26px;
  font-weight: 800;
  color: #ccc3c3;
  width: 20px;
}
.collapse__text {
  color: white;
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.collapse__text_visible {
  transform: scaleY(1);
  height: 160px;
}

.collapse__text p {
  font-size: 18px;
  line-height: 24px;
  color: #ccc3c3;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .collapse__li {
    margin: 12px 0;
  }
  .collapse__text p {
    font-size: 14px;
    line-height: 16px;
  }

  .collapse__header {
    font-size: 16px;
    line-height: 20px;
  }

  .collapse__text_visible {
    height: 100px;
  }

  .collapse__li div {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .collapse__li {
    margin: 5px 0;
  }
  .collapse__text p {
    font-size: 12px;
    line-height: 14px;
  }

  .collapse__header {
    font-size: 12px;
    line-height: 16px;
  }

  .collapse__text_visible {
    height: 100px;
  }
}