.header {
  width: 100%;
  position: fixed;
  padding: 15px 0;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.header__sticky {
  animation: header_sticky 0.5s ease;
  -webkit-box-shadow: 0px 0px 30px 0px rgb(87 95 245 / 10%);
  box-shadow: 0px 0px 30px 0px #521200;
  background-color: #17171af7;
}

.header__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu__mobile-list {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  left: 0;
  list-style: none;
  display: flex;
  gap: 0;
  background-color: #293043;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

.menu__mobile-item {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: #fff;
}

.menu__mobile-item::before {
  content: '';
  width: 24px;
  height: 24px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  
}

.mobile-services::before {
  background-image: url(../../assets/images/icons/menu__mobile_services.png);
}

.mobile-portfolio.menu__mobile-item::before {
  background-image: url(../../assets/images/icons/menu__mobile_portolio.png);
}

.mobile-calculator::before {
  background-image: url(../../assets/images/icons/menu__mobile_calculator.png);
}

.mobile-contacts::before {
  background-image: url(../../assets/images/icons/menu__mobile_contacts.png);
}

.menu__mobile-item a {
  text-decoration: none;
}

.mobile__order-button {
  width: 50px;
  height: 50px;
  border: none;
  color: transparent;
  background: transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mobile__order-button::after {
  content:  url(../../assets/images/icons/contact-mail.png);
  width: 70px;
  height: 70px;
  position: absolute;
  background: #fc653c;
  border-radius: 50%;
  bottom: 5px;
  box-shadow: 0px 0px 30px 0px #521200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes header_sticky {
  0% {
    -webkit-transform: translateY(-189px);
    transform: translateY(-189px); }
  100% {
    -webkit-transform: translateY(-189px);
    transform: translateY(0); } }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {

  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
  }
}