.statistics {
  color: #adadb8;
  background: #17171a;
  padding-bottom: 120px;
}

.statistics__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  gap: 100px;
}

.statistics__content {
  max-width: 720px;
}

.statistics__image-area {
  position: relative;
}

.statistics__image-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fc653c;
  border-radius: 20px;
  -webkit-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
  -webkit-animation: semi_rotated_two 20s infinite;
  animation: semi_rotated_two 20s infinite;
  border-radius: 20px;
}

.statistics__image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px rgb(245 50 92 / 20%);
  position: relative;
  z-index: 1;
}

.statistics__shape {
  position: absolute;
  left: 110%;
  top: 5%;
  -webkit-animation: down-up-down 10s infinite;
  animation: down-up-down 10s infinite;
 }

 .statistics__paragraph {
  color: #adadb8;
  font-size: 20px;
  line-height: 26px;
}

.counter-items {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 15px;
  margin-top: 40px;
}

.counter-item {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.counter-item:hover {
  -webkit-box-shadow: 10px 0 60px rgb(178 178 178 / 30%);
  box-shadow: 10px 0 60px rgb(178 178 178 / 30%);
  background: #0d0d0e;
}

.counter__image {
  width: 60px;
}

.counter__value {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 40px;
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
}

.counter__value::after{
  content: '+';
}

.counter__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 28px;
  font-size: 24px;
  font-weight: 600;
  color: #faebd7;
  margin-top: 10px;
}

.counter__paragraph {
  margin-top: 10px;
  font-size: 14px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .statistics {
    padding-bottom: 80px;
  }
  .statistics__container {
    gap: 50px;
    padding: 0 50px;
    justify-content: center
  }

  .statistics__image-area {
    max-width: 300px;
  }

  .statistics__content {
    width: 574px;
  }

  .statistics__paragraph {
    font-size: 16px;
    line-height: 18px;
  }

  .counter-item {
    width: 180px;
  }

  .counter-items {
    justify-content: space-between
  }

  .counter__value {
    line-height: 30px;
    font-size: 26px;
  }

  .counter__title {
    font-size: 16px;
    line-height: 18px;
  }

  .counter__paragraph {
    font-size: 10px;
    line-height: 12px;
  }

  .statistics__shape {
    right: -20%;
    width: 20%;
    top: 10%;
    left: auto;
  }

  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .statistics {
    padding: 60px 0;
  }

  .statistics__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .statistics__image-area {
    width: 350px;
  }

  .statistics__shape {
    width: 20%;
    left: 100%;
  }

  .statistics__paragraph {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .statistics {
    padding-bottom: 30px;
  }

  .statistics__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
  }

  .statistics__image-area {
    width: 85%;
    max-width: 350px;
  }

  .statistics__shape {
    left: auto;
    right: -10%;
    top: -10%;
    width: 10%;
  }

  .statistics__content {
    max-width: 300px;
  }

  .statistics__paragraph {
    font-size: 12px;
    line-height: 14px;
  }

  .counter-items {
    flex-direction: column;
  }

  .counter-item {
    width: 250px;
    align-items: center;
    text-align: center;
  }

  .counter__value {
    line-height: 30px;
    font-size: 26px;
  }

  .counter__title {
    line-height: 18px;
    font-size: 16px;
  }

  .counter__paragraph {
    font-size: 12px;
  }
}