.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__slider {
  width: 1280px;
}

.testimonial {
  box-sizing: border-box;
  display: flex;
  width: 600px;
  margin: 60px 20px;
  gap: 40px;
}

.testimonal__avatar {
  position: relative;
  min-width: 100px;
  width: 100px;
  height: 100px;
  background-color: #fc653c;
  background-size: cover;
  border-radius: 50%;
}

.avatar-1 {
  background-image: url('../../assets/images/team/avatar-1.webp');
}

.avatar-2 {
  background-image: url('../../assets/images/team/avatar-2.webp');
}

.avatar-3 {
  background-image: url('../../assets/images/team/avatar-3.webp');
}

.avatar-4 {
  background-image: url('../../assets/images/team/avatar-4.webp');
}

.testimonal__avatar::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #fc653c;
  background-image: url('../../assets/images/icons/quote.png');
  background-size: 30px;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonials__container {
  width: 1280px;
  position: relative;
  margin-top: 60px;
}

.testimonial__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  gap: 20px;
  min-height: 200px;
  justify-content: space-between;
}


.testimonial__review {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #adadb8;
}

.testimonial__author-description {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  align-items: flex-start;
}

.testimonial__name {
  position: relative;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 26px;
  font-size: 24px;
  font-weight: 800;
  color: #faebd7;
  text-decoration: none;
  text-align: center;
}

.testimonial__name::before {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #fc653c;
  position: absolute;
  display: inline-block;
  left: -50px;
  top: 20px;
}

.testimonial__designation {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fc653c;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.testimonials__button-container {
  position: absolute;
  right: 0;
  top: -35px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.testimonials__button {
  width: 55px;
  height: 55px;
  display: flex;
  position: relative;
  background-color: #fc653c;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.testimonials__button:hover {
  -webkit-box-shadow: 10px 0 60px rgb(140 140 140 / 30%);
  box-shadow: 10px 0 60px rgb(140 140 140 / 30%);
  background-color: #17171a;
}
.next::before {
  content: '→';
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

.prev::before {
  content: '←';
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}