.blog {
  background-color: #0d0e0d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.blog__container {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  gap: 80px;
  margin-top: 80px;
}

.blog__item {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}


.blog__preview-container {
  border-radius: 15%;
  overflow: hidden;
  width: 190px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__preview {
  max-width: 190px;
  transition: 0.5s;
}

.blog__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.blog__item:hover .blog__preview {
  transform: scale(1.1);
}

.blog__date {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 18px;
  color: #fc653c;
  padding: 0;
  display: flex;
  font-weight: 700;
  align-items: center;
}

.blog__date::before {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url('../../assets/images/icons/calendar.png');
  display: inline-block;
  top: 0;
  left: 0;
  background-size: cover;
  margin-right: 10px;
}

.blog__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 26px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}

.blog__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.blog__author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog__author-avatar {
  border-radius: 50%;
  opacity: 0.6;
  transition: all 0.5s;
}

.blog__author:hover .blog__author-avatar {
  opacity: 1;
}

.blog__author-description {
  display: flex;
  flex-direction: column;
}
.blog__author-description p {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #adadb8;
}
.blog__link {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #adadb8;
  font-weight: 800;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .blog {
    padding: 60px 0 90px;
  }

  .blog__container {
    width: 1000px;
    gap: 50px 40px;
  }

  .blog__item {
    width: 480px;
  }

  .blog__title {
    line-height: 20px;
    font-size: 18px;
  }

  .blog__date {
    font-size: 14px;
    line-height: 18px;
  }

  .blog__author-description p {
    font-size: 12px;
    line-height: 14px;
  }

  .blog__link {
    font-size: 12px;
    line-height: 14px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .blog {
    padding: 60px 0;
  }

  .blog .section__header {
    width: 400px;
  }

  .blog__container {
    width: 720px;
    gap: 40px 20px;
    align-items: center;
    justify-content: center;
  }

  .blog__item {
    width: 350px;
    flex-direction: column;
    gap: 15px;
  }

  .blog__description {
    width: 100%;
  }

  .blog__title {
    line-height: 20px;
    font-size: 18px;
  }

  .blog__preview-container {
    border-radius: 8px;
    width: 100%;
    height: 200px;
  }

  .blog__preview {
    max-width: 350px;
    transition: 0.5s;
    width: 100%;
  }

  .blog__date {
    font-size: 14px;
    line-height: 18px;
  }

  .blog__author-description p {
    font-size: 12px;
    line-height: 14px;
  }

  .blog__link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .blog {
    padding: 60px 0;
  }

  .blog .section__header {
    width: 300px;
  }

  .blog__container {
    width: 300px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 40px  ;
  }

  .blog__item {
    width: 295px;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    border: 1px solid #78321f61;
    padding: 20px;
    border-radius: 8px;
  }

  .blog__item:hover {
    box-shadow: 0px 5px 10px 2px rgb(252 101 60 / 20%);
  }

  .blog__description {
    width: 100%;
  }

  .blog__title {
    line-height: 20px;
    font-size: 18px;
  }

  .blog__preview-container {
    border-radius: 8px;
    width: 100%;
    height: 200px;
  }

  .blog__preview {
    max-width: 300px;
    transition: 0.5s;
    width: 100%;
  }

  .blog__date {
    font-size: 14px;
    line-height: 18px;
  }

  .blog__author-avatar {
    width: 29px;
  }

  .blog__author-description p {
    font-size: 12px;
    line-height: 14px;
  }

  .blog__link {
    font-size: 12px;
    line-height: 14px;
  }
}
