.detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__container a {
  text-decoration: none;
}

.service-details__button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 12px 22px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 1px;
  background: #fc653c;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 300px;
}

.detail__with-image {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  padding: 60px 0;
}


.detail__full {
  width: 1280px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #fff;
}

.detail__description {
  display: flex;
  flex-direction: column;
}

.detail__paragraph{
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  position: relative;
}

.detail__description a {
  text-decoration: none;
  color: #fc653c;
  font-weight: 800;
}

.description__dashed {
  width: 1000px;
  border: 3px dashed #fc653c42;
  gap: 15px;
  padding: 50px;
  box-sizing: border-box;
}

.detail__image-container {
  max-width: 500px;
  width: 500px;
}

.detail__image {

}

.check-mark-before::before {
  content: '';
  width: 18px;
  height: 8px;
  border: 5px solid #fc653c;
  background: transparent;
  display: block;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  position: absolute;
  left: -40px;
  top: -2px;
}

.detail__nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 700px;
}

.detail__nav li {
  background: #0000003d;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #fc653c;
  border-radius: 8px;
  cursor: pointer;

}

.detail__nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.detail__nav li:hover {
  box-shadow: 0px 5px 10px 2px rgb(252 101 60 / 20%);
}

#whyweare a{
  text-decoration: none;
}

.detail__header-container {
  width: 1000px;
}

.detail__switch {
  width: 1280px;
}

.switch__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.switch__header-item {
  width: 300px;
  background-color: #1e1e22;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  min-height: 250px;
  opacity: 0.5;
  transform: translateY(43px);
  cursor: pointer;
}

.switch__header-item_active {
  padding-bottom: 0;
  z-index: 1;
  opacity: 1;
}

.switch__header-item_active .switch__header_container {
  border: 2px dashed #fc653c47;
  border-bottom: none;
}

.switch__header-item img {
  width: 200px;
  margin-top: -50px;
}

.switch__header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0 18px;
  box-sizing: border-box;
  
  border-top-right-radius: 8px;
  height: 100%;
  border-top-left-radius: 8px;
  justify-content: flex-start;
}

.switch__description {
  display: flex;
  position: relative;
}

.switch__description-item {
  width: 100%;
  height: 300px;
  background-color: #1e1e22;
  display: none;
  box-sizing: border-box;
  padding: 40px 20px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.switch__description-item_active {
  display: block;
}

.description__container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px dashed #fc653c47;
  padding: 40px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.detail__price-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  width: 1000px;

}

.sites__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#whichSites .sites__header {
  width: 80px;
  height: 80px;
  background-color: #0d0e0d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sites__title {
  
}

.sites__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: flex-start;
}

#prices .pricePackages__footer {
  align-items: center;
}

#prices .pricePackages__price {
  font-size: 50px;
}

#prices .pricePackages__item, #uxprices .pricePackages__item {
  box-shadow: none;
  border: 2px solid #fc653c45;
  box-sizing: border-box;
}

#prices .pricePackages__item:hover, #uxprices .pricePackages__item:hover {
  box-shadow: 10px 0 60px rgb(252 101 60 / 10%);
}

#prices .pricePackages__item, #uxprices .pricePackages__item {
  width: 680px;
}