.detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__container a {
  text-decoration: none;
}

.service-details__button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 12px 22px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 1px;
  background: #fc653c;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 300px;
  margin-top: 30px;
  text-align: center;
}

.detail__with-image {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  padding: 60px 0;
}


.detail__full {
  width: 1280px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #fff;
}

.detail__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.detail__paragraph{
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  position: relative;
}

.detail__description a {
  text-decoration: none;
  color: #fc653c;
  font-weight: 800;
}

.description__dashed {
  width: 1000px;
  border: 3px dashed #fc653c42;
  gap: 15px;
  padding: 50px;
  box-sizing: border-box;
  margin-bottom: 60px;
  margin-top: 0;
}

.detail__image-container {
  max-width: 500px;
  width: 500px;
}

.detail__image {

}

.check-mark-before::before {
  content: '';
  width: 18px;
  height: 8px;
  border: 5px solid #fc653c;
  background: transparent;
  display: block;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  position: absolute;
  left: -40px;
  top: -2px;
}

.detail__nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 700px;
}

.detail__nav li {
  background: #0000003d;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #fc653c;
  border-radius: 8px;
  cursor: pointer;

}

.detail__nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.detail__nav li:hover {
  box-shadow: 0px 5px 10px 2px rgb(252 101 60 / 20%);
}

#whyweare a{
  text-decoration: none;
}

.detail__header-container {
  width: 1000px;
}

.detail__switch {
  width: 1280px;
  margin-top: 60px;
}

.switch__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.switch__header-item {
  width: 300px;
  background-color: #1e1e22;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  min-height: 250px;
  opacity: 0.5;
  transform: translateY(43px);
  cursor: pointer;
}

.switch__header-item_active {
  padding-bottom: 0;
  z-index: 1;
  opacity: 1;
}

.switch__header-item_active .switch__header_container {
  border: 2px dashed #fc653c47;
  border-bottom: none;
}

.switch__header-item img {
  width: 200px;
  margin-top: -50px;
}

.switch__header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0 18px;
  box-sizing: border-box;
  
  border-top-right-radius: 8px;
  height: 100%;
  border-top-left-radius: 8px;
  justify-content: flex-start;
}

.switch__description {
  display: flex;
  position: relative;
}

.switch__description-item {
  width: 100%;
  min-height: 300px;
  background-color: #1e1e22;
  display: none;
  box-sizing: border-box;
  padding: 40px 20px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.switch__description-item_active {
  display: block;
}

.description__container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px dashed #fc653c47;
  padding: 40px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.detail__price-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  width: 1000px;

}

.sites__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#whichSites .sites__header {
  width: 80px;
  height: 80px;
  background-color: #0d0e0d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sites__title {
  
}

.detail__list-paragraph {
  color: #adadb8;
  line-height: 20px;
}

.sites__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: flex-start;
}

#prices .pricePackages__footer {
  align-items: center;
}

#prices .pricePackages__price {
  font-size: 50px;
}

#prices .pricePackages__item, #uxprices .pricePackages__item {
  box-shadow: none;
  border: 2px solid #fc653c45;
  box-sizing: border-box;
}

#prices .pricePackages__item:hover, #uxprices .pricePackages__item:hover {
  box-shadow: 10px 0 60px rgb(252 101 60 / 10%);
}

#prices .pricePackages__item, #uxprices .pricePackages__item {
  width: 680px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .detail__with-image {
    width: 1000px;
    gap: 40px;
  }

  .detail__header-container {
    width: 700px;
  }

  .detail__title {
    font-size: 36px;
  }

  .detail__paragraph {
    font-size: 16px;
    line-height: 18px;
  }

  .service-details__button {
    width: 90%;
  }

  .detail__nav ul {
    justify-content: center;
  }

  .detail__nav a {
    font-size: 14px;
    line-height: 16px;
  }

  .detail__full {
    width: 1000px;
  }

  #whyweare .detail__description {
    width: 570px;
    margin: 0 auto;
    text-align: center;
  }
  
  #whyweareuxui .detail__description {
    width: 570px;
    margin: 30px auto 0;
  }
  
  .detail__switch {
    width: 1000px;
  }

  .switch__header-item {
    width: 250px;
  }

  .switch__header_container h3 {
    font-size: 16px;
    line-height: 18px;
  }

  #prices .pricePackages__item, #uxprices .pricePackages__item {
    width: 490px;
  }

  #prices .pricePackages__price {
    font-size: 35px;
  }

  .sites__title {
    font-size: 16px;
    line-height: 18px;
  }

  .detail__list-paragraph {
    font-size: 14px;
    line-height: 16px;
}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .detail__with-image {
    width: 700px;
  }

  .detail__title {
    font-size: 30px;
  }

  .detail__image {
    transform: translateX(-50px);
    width: 400px;
  }

  .detail__image-container {
    width: 260px;
    max-width: 260px;
  }

  .detail__full .detail__paragraph {
    width: 570px;
  }

  .detail__paragraph {
    font-size: 14px;
    line-height: 16px;
  }

  .service-details__button {
    width: 90%;
  }

  .detail__nav a {
    font-size: 12px;
  }

  .detail__nav li {
    padding: 7px 15px;
  }
  
  .detail__nav ul {
    justify-content: center;
  }

  .fd-rr .detail__image {
    transform: translateX(-100px);
  }

  .description__dashed {
    width: 700px;
  }

  #whyweare .detail__description {
    width: 570px;
    margin: 0 auto;
    text-align: center;
  }
  
  #whywearecreative .detail__description {
    width: 570px;
    margin: 30px auto 0;
  }

  .detail__switch {
    width: 700px;
  }

  .switch-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  
  .switch__header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
  }

  .switch__header-item {
    border-radius: 8px;
    transform: none;
    min-height: 230px;
  }

  .switch__header-item_active {
    padding-bottom: 20px;
  }

  .switch__header_container {
    border-radius: 8px;
  }

  .switch__header-item_active .switch__header_container {
    border-bottom: 2px dashed #fc653c47;
  }

  .switch__description-item {
    padding: 20px;
    border-radius: 8px;
  }

  .description__container {
    border-radius: 8px;
  }
  
  .switch__description-item {
    min-height: auto;
  }

  .detail__price-container {
    width: 700px;
    gap: 60px;
  }

  .sites__item {
    width: 250px;
  }

  .sites__title {
    font-size: 16px;
    line-height: 18px;
  }

  .sites__list {
    gap: 8px;
  }

  .detail__list-paragraph {
    font-size: 12px;
    line-height: 14px;
  }

  #prices .pricePackages__item, #uxprices .pricePackages__item {
    width: 350px;
  }

  #prices .pricePackages__price {
    font-size: 20px;
  }

  #whyweareuxui .detail__description {
    margin: 30px auto 0;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  #whatisuxui .detail__with-image {
    padding: 0 0 15px;
  }

  #whichuxui .detail__with-image {
    padding: 30px 0 30px;
  }

  #whichSites .detail__info .detail__description {
    margin-top: 30px;
  }

  #whichuxui .detail__price-container {
    gap: 40px;
  }

  .detail__with-image {
    width: 300px;
    flex-direction: column-reverse;
    padding: 30px 0 60px;
  }

  .detail__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detail__image {
    width: 300px;
  }

  .detail__image-container {
    width: 300px;
    max-width: 300px;
  }

  .detail__title {
    font-size: 24px;
    text-align: center;
  }

  .detail__paragraph {
    font-size: 12px;
    line-height: 14px;
  }

  .detail__description {
    width: 300px;
    margin: 30px auto 0;
    box-sizing: border-box;
    padding-left: 0;
  }

  .service-details__button {
    width: 90%;
    box-sizing: border-box;
  }

  .detail__full {
    display: none;
  }

  #forNeedWebsite .fd-rr {
    flex-direction: column-reverse!important;
  }

  #whatisuxui .description__dashed {
    margin: 0 0 60px;
  }

  .description__dashed {
    padding: 20px;
    margin: 30px 0 60px;
  }

  .detail__price-container {
    width: 300px;
    flex-direction: column;
    gap: 60px;
  }

  #whichSites .detail__description {
    margin: 0 auto;
    padding: 0;
  }

  #whichuxui .detail__description {
    margin: 30px auto 0;
    padding: 0;
  }


  #uxprices .pricePackages__container {
    margin-top: 0;
  }

  .detail__list-paragraph {
    font-size: 12px;
    line-height: 14px;
  }

  #whichSites .sites__header {
    width: 64px;
    height: 64px;
  }

  #whichSites .sites__title {
    margin-top: 15px!important;
  }

  #whichSites .sites__list {
    margin-top: 20px;
  }

  #prices .pricePackages__item, #uxprices .pricePackages__item {
    width: 300px;
  }

  #prices .pricePackages__price-area, #uxprices .pricePackages__price-area {
    padding-top: 0;
  }

  #prices .detail__with-image, #forNeedWebsite .detail__with-image, #whyneedcreative  .detail__with-image {
    padding: 30px 0 0;
  }

}