.page-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #17171a;
  padding: 219px 0 120px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.page-banner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-banner__header {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #fff;
}

.breadcumps {
  margin-top: 30px;
}

.breadcumps-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.breadcumps-item {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.breadcumps-item a {
  text-decoration: none;
  color: #faebd7;
}

.breadcumps-item_active {
  color: #fc653c;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.breadcumps-item_active::before {
  content: '>';
  display: inline-block;
  margin-right: 10px;
  color: #faebd7;
}


.page-banner__shapes {
  
}

.page-banner__circle {
  width: 700px;
  height: 700px;
  z-index: -2;
  top: -300px;
  left: -239px;
  background: #fc653c;
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
}

.page-banner__img {
  position: absolute;
}

.left-shape {
  left: 6%;
  top: 35%;
  -webkit-animation: down-up-one 15s infinite;
  animation: down-up-one 15s infinite;
}

.right-shape {
  bottom: 15%;
  right: 6%;
  -webkit-animation: upDownLeft 20s infinite;
  animation: upDownLeft 20s infinite;
}

.page-banner__shapes::before {
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid #dc002c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  -webkit-animation: shapeAnimationTwo 30s infinite;
  animation: shapeAnimationTwo 30s infinite;
  left: 20%;
  top: 55%;
}

.page-banner__shapes::after {
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  -webkit-animation: shapeAnimationTwo 30s infinite;
  animation: shapeAnimationTwo 30s infinite;
  right: 10%;
  top: 20%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .left-shape {
    left: 0;
    top: -5%;
  }

  .right-shape {
    bottom: 50px;
    right: -40px;
    animation: upDownLeftMobile 30s infinite;  
  }

  .page-banner {
    padding: 130px 0 50px;
  }

  .page-banner__img {
    width: 50px;
  }

  .page-banner__circle {
    width: 200px;
    height: 200px;
    top: -75px;
    left: -75px;
  }

  .page-banner__header {
    font-size: 30px;
  }

  .breadcumps {
    margin-top: 10px;
  }

  .breadcumps-item {
    font-size: 14px;
  }

  .breadcumps-list {
    gap: 10px;
  }

  .page-banner__shapes::after {
    width: 10px;
    height: 10px;
    right: 5%;
    top: 5%;
    animation: shapeAnimationTwoMobile 30s infinite;
  }

  .page-banner__shapes::before {
    width: 10px;
    height: 10px;
    bottom: 5%;
    left: 5%;
    animation: shapeAnimationTwoMobile 30s infinite;
  }
}
