.ux-ui-design .pricePackages__footer{
  align-items: center;
  min-height: 180px;
}

.ux-ui-design .pricePackages__list {
  align-self: flex-start;
}

.ux-ui-design  a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ux-ui-design .pricePackages__footer{
    min-height: auto;
  }

  .ux-ui-design .pricePackages__price {
    font-size: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

}