.work-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.work-plan__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
}

.work-plan__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 60px;
  margin-top: 120px;
}

.work-plan__list-item {
  width: 1000px;
  min-height: 300px;
  background-color: #0d0e0d;
  border-radius: 8px;
  box-shadow: 10px 0 60px rgb(252 101 60 / 10%);
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  position: relative;
}

.work-plan__number {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  background: #1e1e22;
  border-radius: 50%;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 70px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fc653c;
}

.work-plan__number_left {
  right: -25px;
  top: -25px;
}

.work-plan__number_right {
  left: -50px;
  top: -50px;
}

.work-plan__list-item_left::after {
  content: '';
  width: 280px;
  height: 350px;
  position: absolute;
  border-right: 5px dashed white;
  border-top: 5px dashed white;
  right: -140px;
  top: 140px;
  z-index: -1;
  opacity: 0.3;
}

.work-plan__list-item_right {
  align-self: end;
  flex-direction: row-reverse;
}


.work-plan__list-item_right::after {
  content: '';
  width: 280px;
  height: 350px;
  position: absolute;
  border-left: 5px dashed white;
  border-top: 5px dashed white;
  left: -140px;
  top: 140px;
  z-index: -1;
  opacity: 0.3;
}

.work-plan__image {
  min-width: 300px;
  width: 300px;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.work-plan__image.first {
 background-image: url('../../assets/images/work-plan/1.jpg');
}

.work-plan__image.second {
  background-image: url('../../assets/images/work-plan/2.jpg');
 }

.work-plan__description {

}

.work-plan__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  line-height: 26px;
  font-size: 28px;
  font-weight: 800;
  color: #faebd7;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0 30px;
}

.work-plan__item-description {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  color: #adadb8;
}

.work-plan__dotted {

}

.work-plan__dotted_right {

}

.no-after::after {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .work-plan {
    padding-top: 60px;
  }
  
  .work-plan__container {
    width: 1000px;
  }

  .work-plan__list {
    margin-top: 90px;
  }

  .work-plan__list-item {
    width: 80%;
  }

  .work-plan__title {
    line-height: 24px;
    font-size: 22px;
    padding: 10px 0 20px;
  }

  .work-plan__item-description {
    font-size: 12px;
    line-height: 16px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .work-plan {
    padding-top: 60px;
  }
  
  .work-plan__container {
    width: 700px;
  }

  .work-plan__container .section__header {
    width: 100%;
  }

  .work-plan__list {
    margin-top: 90px;
  }

  .work-plan__list-item {
    width: 80%;
    flex-direction: column;
    gap: 30px;
    min-height: 480px;
  }

  .work-plan__list-item_left::after {
    width: 140px;
    height: 300px;
    right: -70px;
    top: 240px;
  }

  .work-plan__list-item_right::after {
    width: 140px;
    height: 300px;
    left: -70px;
    top: 240px;
  }

  .work-plan__title {
    line-height: 24px;
    font-size: 22px;
    padding: 10px 0 20px;
  }

  .work-plan__item-description {
    font-size: 12px;
    line-height: 16px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .work-plan {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .work-plan__container {
    width: 300px;
  }

  .work-plan__container .section__header {
    width: 100%;
  }

  .work-plan__list {
    margin-top: 90px;
    gap: 120px;
  }

  .work-plan__list-item {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    min-height: 500px;
    padding: 20px 30px;
  }

  .work-plan__list-item_left::after {
    width: 5px;
    height: 90px;
    right: auto;
    bottom: -90px;
    left: 145px;
    top: auto;
    box-sizing: border-box;
  }

  .work-plan__list-item_right::after {
    width: 5px;
    height: 90px;
    right: auto;
    bottom: -90px;
    left: 145px;
    top: auto;
    box-sizing: border-box;
  }

  .work-plan__image {
    min-width: 240px;
    width: 240px;
    height: 192px;
  }

  .work-plan__title {
    line-height: 18px;
    font-size: 16px;
    padding: 10px 0 20px;
  }

  .work-plan__item-description {
    font-size: 12px;
    line-height: 14px;
  }

  .work-plan__number {
    width: 100px;
    height: 100px;
    font-size: 60px;
  }

  .work-plan__number_left, .work-plan__number_right {
    left: 100px;
    right: auto;
    top: -65px;
  }
  

}