.slider {
  background: #1e1e22;
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.slider::before {
  left: -10%;
  top: 20%;
  -webkit-filter: blur(350px);
  filter: blur(350px);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  position: absolute;
  width: 450px;
  height: 450px;
  content: '';
  border-radius: 50%;
  background: #fc653c;
  -webkit-animation: zoomInOut 5s infinite;
  animation: zoomInOut 5s infinite;
}

.slider::after {
  right: -10%;
  top: -15%;
  -webkit-filter: blur(110px);
  filter: blur(110px);
  position: absolute;
  width: 450px;
  height: 450px;
  content: '';
  border-radius: 50%;
  background: #781e05;
  -webkit-animation: zoomInOut 5s infinite;
  animation: zoomInOut 5s infinite;
  opacity: 0.5;
  z-index: -1;
}

.slide__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 210px 0;
  align-items: center;
  gap: 60px;
}

.slide__description {
  width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.slide__text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.slider__header {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  align-self: start;
  margin: 20px 0 10px 0;
  color: #faebd7;
}

.slide__buttons {
  display: flex;
  gap: 20px;
  z-index: 1;
}

.slick-active .slider__header {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.slick-active .slider__title, .slick-active .slider__paragraph {
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.slick-active .slide__buttons {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.slick-active .slide__image-container {
  animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.slick-active .image__caption {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
} 

.slider__title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 65px;
  line-height: 90px;
  font-weight: 900;
  color: #fff;
}

.text-bottom-line {
  position: relative;
}

.text-bottom-line::after {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  content: '';
  height: 10px;
  width: 100%;
  background-color: #fc653c;
  z-index: -1;
}

.slider__paragraph {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 38px;
  margin: 0px;
  padding: 25px 0px 10px;
  font-size: 20px;
}


.slider__button {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: flex;
  color: #ffffff;
  padding: 12px 22px;
  border-radius: 25px;
  background-color: #0d0e0d;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px #fc653c solid;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  overflow: hidden;
  z-index: 0;
  margin-top: 30px;
  cursor: pointer;
  text-transform: uppercase;
}

.slider__button a {
  text-decoration: none;
}

.slider__button::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fc653c;
  transition: 0.75s;
  transform: scaleX(0);
  transform-origin: 0 50%;
  z-index: -1;
}

.slider__button:hover.slider__button::after {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.slider__button:hover {
  cursor: pointer;
}

.slider__button_transparent {
  background-color: transparent;
}

.slider__button img {
  width: 20px;
  height: 18px;
  transform: translateX(0px);
  transition: 0.75s;
}

.slider__button:hover img {
  transform: translateX(10px);
}

.slide__image-container {
  width: 600px;
  position: relative;
}

.slide__image-container::after {
  content: '';
  width: 100%;
  height: 112px;
  display: block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/images/slider/design_slider.png');
}

.slide__image {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(245, 50, 92, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(245, 50, 92, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(245, 50, 92, 0.2);
}

.image__caption {
  position: absolute;
  width: 700px;
  bottom: 139px;
  right: 276px;
}

.slider__dots {
  position: absolute;
  -webkit-animation: circle_rotate 27s infinite;
  animation: circle_rotate 27s infinite;
  z-index: 1;
}

.slider__dots.first {
  right: -67px;
  top: 100px;
}

.slider__dots.second {
  left: 42%;
  bottom: 40px;
}

.slider__wave-line {
  max-width: 35%;
  -webkit-animation: down-up-one 10s infinite;
  animation: down-up-one 10s infinite;
  left: 0;
  bottom: 0;
  position: absolute;
}

.slider_circle {
  top: 10%;
  left: 5%;
  -webkit-animation: shapeAnimationThree 40s infinite;
  animation: shapeAnimationThree 40s infinite;
  position: absolute;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .slider__header {
    font-size: 30px;
    line-height: 20px;
  }

  .slider__title {
    font-size: 50px;
    line-height: 60px;
  }

  .text-bottom-line::after {
    height: 10px;
    bottom: 12px;
  }

  .slider__paragraph {
    font-size: 16px;
    line-height: 18px;
  }

  .slider__button {
    font-size: 12px;
    line-height: 18px;
  }

  .slide__buttons {
    align-self: center;
  }

  .slide__container {
    gap: 0;
    padding: 30px 0 60px;
  }

  .slider__dots.second {
    bottom: 4px;
    right: -27px;
    left: auto;
    z-index: -1;
  }

  .slide__image-container::after {
    bottom: -60px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .slide__container {
    gap: 24px;
    padding: 60px 0;
    width: 1000px;
  }

  .slide__description {
    width: 500px;
  }

  .slide__image {
    max-width: 500px;
  }

  .image__caption {
    width: 500px;
    bottom: 8px;
    right: 25px;
  }

  .slider__dots.second {
    left: auto;
    right: 10%;
    bottom: -48px;
  }

  



}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  .slider {
    height: auto;
  }



  .slide__description {
  }

  .slider__dots.second {
    right: -5%;
    bottom: -46px;
    opacity: 0.5;
  }

  .slider__wave-line {
    z-index: -1;
    opacity: 0.5;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .slide__container {
    flex-direction: column;
  }


}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider {
    height: auto;
  }

  .slider::before {
    left: -71px;
    top: -39px;
    filter: blur(120px);
    animation-delay: 2.5s;
    position: absolute;
    width: 150px;
    height: 150px;
  }

  .slider::after {
    width: 250px;
    height: 250px;
  }

  .slider_circle {
    animation: shapeAnimationThreeMobile 30s infinite;
    top: 1%;
    left: 5%;
    opacity: 0.4;
  }

  .slide__container {
    padding: 100px 0 30px;
    gap: 30px;
  }

  .slide__description {
    width: 300px;
    min-height: auto;
  }

  .slider__header {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
  }

  .text-bottom-line::after {
    height: 5px;
    bottom: 10px;
  }

  .slider__title {
    font-size: 30px;
    line-height: 40px;
  }

  .slider__paragraph {
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin-top: 10px;
  }

  .slider__button {
    font-size: 8px;
    line-height: 10px;
    padding: 8px 10px;
  }

  .slide__buttons {
    align-self: center;
  }

  .slide__image-container {
    width: 300px;
  }

  .slide__image-container::after {
    height: 85px;
    bottom: -34px;
    left: auto;
    right: auto;
  }

  .slider__dots.first {
    right: -20px;
    top: -10px;
    width: 80px;
  }

  .slider__dots.second {
    left: auto;
    bottom: -21px;
    right: -54px;
    opacity: 0.4;
    z-index: -1;
  }

  .slider__wave-line {
    opacity: 0.5;
    z-index: -1;
  }

}

@-webkit-keyframes circle_rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes circle_rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes down-up-one {
0% {
  -webkit-transform: rotateX(0deg) translateY(0px);
  transform: rotateX(0deg) translateY(0px); }
50% {
  -webkit-transform: rotateX(0deg) translateY(25px);
  transform: rotateX(0deg) translateY(25px); }
100% {
  -webkit-transform: rotateX(0deg) translateY(0px);
  transform: rotateX(0deg) translateY(0px); } }

@keyframes down-up-one {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(25px);
    transform: rotateX(0deg) translateY(25px); }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px); }
}

@-webkit-keyframes shapeAnimationThree {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  25% {
    -webkit-transform: translate(50px, 150px) rotate(90deg);
    transform: translate(50px, 150px) rotate(90deg); }
  50% {
    -webkit-transform: translate(150px, 150px) rotate(180deg);
    transform: translate(150px, 150px) rotate(180deg); }
  75% {
    -webkit-transform: translate(150px, 50px) rotate(270deg);
    transform: translate(150px, 50px) rotate(270deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    transform: translate(0px, 0px) rotate(360deg); } 
}
    
@keyframes shapeAnimationThree {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  25% {
    -webkit-transform: translate(50px, 150px) rotate(90deg);
    transform: translate(50px, 150px) rotate(90deg); }
  50% {
    -webkit-transform: translate(150px, 150px) rotate(180deg);
    transform: translate(150px, 150px) rotate(180deg); }
  75% {
    -webkit-transform: translate(150px, 50px) rotate(270deg);
    transform: translate(150px, 50px) rotate(270deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    transform: translate(0px, 0px) rotate(360deg); } 
  }

  @-webkit-keyframes shapeAnimationThreeMobile {
0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg); }
25% {
  -webkit-transform: translate(5px, 15px) rotate(90deg);
  transform: translate(5px, 15px) rotate(90deg); }
50% {
  -webkit-transform: translate(15px, 15px) rotate(180deg);
  transform: translate(15px, 15px) rotate(180deg); }
75% {
  -webkit-transform: translate(15px, 5px) rotate(270deg);
  transform: translate(15px, 5px) rotate(270deg); }
100% {
  -webkit-transform: translate(0px, 0px) rotate(360deg);
  transform: translate(0px, 0px) rotate(360deg); } 
}
@keyframes shapeAnimationThreeMobile {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg); }
  25% {
    -webkit-transform: translate(5px, 15px) rotate(90deg);
    transform: translate(5px, 15px) rotate(90deg); }
  50% {
    -webkit-transform: translate(15px, 15px) rotate(180deg);
    transform: translate(15px, 15px) rotate(180deg); }
  75% {
    -webkit-transform: translate(15px, 5px) rotate(270deg);
    transform: translate(15px, 5px) rotate(270deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    transform: translate(0px, 0px) rotate(360deg); } 
  }

  @-webkit-keyframes zoomInOut {
    0%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1); }
    50% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5); } }
  
  @keyframes zoomInOut {
    0%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1); }
    50% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5); } }